@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    background-color: #fbfcfa;
    color: black;
    font-family: 'Montserrat';
    user-select: none;
    min-height: 100vh;
}

#container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height:100vh
}

#nav {
    margin-top: 40px;
}

#nav > ul > li {
    float: right;
    margin: 6px;
    padding-left: 30px;
}

/* Tab Hover */
#tabs li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#divider {
    width: 100%;
    height: 11px;
    margin-top: 36px;
}


#skyline {
    width: 60%;
    margin: 0 auto;
}

.aboutgrid {
    margin-top: 20px;
}

#consultants {
    padding-top: 80px;
}

#consultants img {
    padding: 20px;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

#services {
    padding-top: 80px;
}

.bio {
    margin: auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 130px;
    box-sizing: border-box;
}

.icons > i  {
    font-size: 80px;
}

/* Color Classes */
.primary {
    color: #fa4508;
    /* color: #f5793a; */
    /* color: #0f2080; */
    /* color: #ee6576; */
    /* color: #aa3377; */
}

.secondary {
    /* color: #748c75; */
    /* color: #a95aa0; */
    color: #0f2080;
    /* color: #65ccee; */
}

.tertiary {
    /* color: #5c3a51; */
    /* color: #85bff9; */
    color: #62acbe;
    /* color: #4477aa; */
}

.quaternary {
    /* color: #f5a21e; */
    /* color: #0f2080; */
    /* color: #f9f3eb; */
    /* color: #aa3377; */
    /* color: #f5793a; */
    color: #aa3377;
}

.bold {
    font-weight: bold;
}

.believe > i {
    font-size: 20px;
}

.webelieve > .believe {
    margin-top: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
}

/* Media Overrides */
@media (max-width: 1024px) {
    #container {
        width: 100%;
        padding: 30px;
    }

    #divider {
        display: none;
    }

    #nav {
        margin-top: 30px;
        text-align: center;
    }

    #nav > ul {
        display: inline-block; 
    }

    #nav > ul > li{
        font-size: 0.8em;
        padding-left: unset;
        padding-top: 6px;
    }

    #consultants {
        padding-top: 0px;
    }

    #habibah {
        margin-top: 30px;
    }

    #services {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .icons  {
        display: none;
    }

    .service > div > div > h1 {
        margin-top: 30px;
    } 

    .service > div > div > h1 > i {
        display: inline-block;
    } 

    .service > div > div > p {
        margin-top: 10px;
    }

}
